html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h1 a { /* 'logo' */
    font-size: 3rem;
    font-family: 'Iceland', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 5px #000000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* HEADER */
#header, #footer {
    width: 100%;
    height: 15%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer { height: 10%; }
#mheader, #mfooter {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#logo {
    width: auto;
    margin: 1rem;
}
#status {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1rem;
    margin-left: auto;
    /*border: 0.5px solid black;*/
}
#status div {
    width: auto;
    margin: 0;
    white-space: nowrap; /* niezwijalny */
    font-size: 1rem;
    color: #fff;
    text-align: left;
}
/* FOOTER */
#footer a {
    width: auto;
    color: #fff;
    text-decoration: none;
    margin: 1rem;
    white-space: nowrap; /* niezwijalny */
}
#footer a:hover { text-decoration: underline; }
#donate {
    display: flex;
    flex-direction: row;
    align-items: center; /* centrowanie względem osi Y */
    width: auto;
    height: 1rem;
    margin: 1rem;
    margin-left: auto;
}
#donate a {
    margin: 0;
    padding: 0;
}
#donate div {
    margin: 0;
    padding: 0;
}
#donate img {
    height: 1.4rem;
    margin-left: 0.5rem; /* odstęp od tekstu */
}
/* MAIN */
#main {
    background-color: #f2f2f2;
    display: flex;
    flex-grow: 1;
    max-height: 75%;
}
#adsL, #adsR {
    background-color: #ccc;
    width: 20%;
    flex-shrink: 0;
    overflow-y: auto;
}
#chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3% 0 3%; /* G P D L */
    flex-grow: 1;
}
#chat {
    border: 1px solid #333;
    background-color: #fff;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    flex-grow: 1;
}
#input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
}
#message-input {
    flex-grow: 1;
    padding: 5px;
}
#send-button, #connect-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 0.5rem;
}
#regulamin {
    overflow-y: auto;
    max-height: 100%;
    padding: 20px;
}
.chat-message {  }
.info-message { color: #000000; }
.error-message { color: #ff0000; text-align: center; }
/* Wersja mobilna */
@media (max-width: 768px) {
    #main {
        flex-direction: column;
    }
    #mheader {
        width: 100%;
        flex-direction: column;
        justify-content: center; /* margin nizej ogarnie w poziomie, a to w pionie */
    }
    #logo, #status {
        margin: 0 auto; /* GD=0 LP=auto "wysrodkowanie" w poziomie */
    }
    #mfooter {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #mfooter a {
        margin: 2% 0 0 1.5%;
    }
    #donate {
        flex-direction: column;
        margin: 5% 10% auto auto;
    }
    #donate img {
        margin: 3% 0 0 0;
    }
    #adsL, #adsR {
        width: 100%;
        height: 20%;
        background-color: #ccc;
        overflow-y: auto;
    }
    #adsL { order: 1; }
    #adsR { order: 3; }
    #chat-container {
        order: 2;
        height: 35%;
    }
    #regulamin {
        order: 2;
        height: 55%;
    }
    #chat {
        padding: 0 2% 0 2%;
    }
}




